aiohappyeyeballs==2.4.3
aiohttp==3.11.8
aiosignal==1.3.1
alabaster==1.0.0
alembic==1.13.3
altair==5.3.0
annotated-types==0.7.0
anyio==4.4.0
applaunchservices==0.3.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
astroid==3.2.4
asttokens==2.4.1
async-lru==2.0.4
atomicwrites==1.4.1
attrs==23.2.0
autopep8==2.0.4
Babel==2.15.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
binaryornot==0.4.4
black==24.8.0
bleach==6.1.0
blinker==1.7.0
botocore==1.34.158
build==1.2.2.post1
cachetools==5.3.3
category-encoders==2.6.4
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.20
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
contourpy==1.2.1
cookiecutter==2.6.0
cryptography==42.0.8
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
diff-match-patch==20230430
dill==0.3.8
distro==1.9.0
docstring-to-markdown==0.15
docutils==0.21.2
durationpy==0.9
et_xmlfile==2.0.0
executing==2.0.1
fastapi==0.115.5
fastjsonschema==2.20.0
filelock==3.13.1
flake8==7.0.0
Flask==3.0.2
flatbuffers==24.3.25
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
googleapis-common-protos==1.66.0
grpcio==1.68.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.0
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.6
imageio==2.36.0
imagesize==1.4.1
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata==8.2.0
importlib_resources==6.4.5
inflection==0.5.1
intervaltree==3.1.0
ipykernel==6.29.4
ipython==8.25.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipywidgets==8.1.3
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jedi==0.19.1
jellyfish==1.1.0
Jinja2==3.1.3
jiter==0.7.1
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
kaggle==1.6.17
kagglehub==0.3.3
keyring==25.3.0
kiwisolver==1.4.5
kubernetes==31.0.0
langchain==0.3.9
langchain-community==0.3.9
langchain-core==0.3.21
langchain-huggingface==0.1.2
langchain-openai==0.2.11
langchain-text-splitters==0.3.2
langsmith==0.1.147
lazy_loader==0.4
lime==0.2.0.1
llvmlite==0.43.0
Mako==1.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.9.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
mmh3==5.0.1
monotonic==1.6
more-itertools==10.4.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
numpydoc==1.8.0
oauthlib==3.2.2
odfpy==1.4.1
onnxruntime==1.20.1
openai==1.57.0
openpyxl==3.1.5
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
optuna==4.0.0
orjson==3.10.12
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.9.0
phik==0.12.4
pickleshare==0.7.5
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
posthog==3.7.4
prettytable==3.11.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==5.27.2
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.10.1
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydeck==0.9.1
pydocstyle==6.3.0
pyflakes==3.2.0
pygame==2.5.2
Pygments==2.18.0
PyJWT==2.8.0
pylint==3.2.6
pylint-venv==3.0.3
pyls-spyder==0.4.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-CoreServices==10.3.1
pyobjc-framework-FSEvents==10.3.1
pyodbc==5.1.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pypdf==5.1.0
PyPDF2==3.0.1
pypdfium2==4.30.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.12
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.14
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-lsp-black==2.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.11.0
python-slugify==8.0.4
python-telegram-bot==21.8
pytoolconfig==1.3.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
QDarkStyle==3.2.3
qstylizer==0.2.3
QtAwesome==1.3.1
qtconsole==5.5.2
QtPy==2.4.1
rank-bm25==0.2.2
referencing==0.35.1
regex==2023.12.25
reportlab==4.2.5
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rope==1.13.0
rpds-py==0.18.1
rsa==4.9
Rtree==1.3.0
safetensors==0.4.2
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
Send2Trash==1.8.3
sentence-transformers==3.3.1
setuptools==70.1.0
shap==0.46.0
shellingham==1.5.4
six==1.16.0
slicer==0.0.8
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
snowflake-connector-python==3.11.0
sortedcontainers==2.4.0
soupsieve==2.5
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spyder==5.5.5
spyder-kernels==2.5.2
SQLAlchemy==2.0.32
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.4
streamlit==1.37.1
streamlit-option-menu==0.3.13
stripe==10.4.0
sympy==1.13.1
tabulate==0.9.0
telegram==0.0.1
tenacity==8.5.0
terminado==0.18.1
text-unidecode==1.3
textdistance==4.6.3
threadpoolctl==3.5.0
three-merge==0.1.1
tifffile==2024.9.20
tiktoken==0.8.0
tinycss2==1.3.0
tokenizers==0.20.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.0
toolz==0.12.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.1
traitlets==5.14.3
transformers==4.46.3
typer==0.14.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.32.1
uvloop==0.21.0
watchdog==4.0.2
watchfiles==1.0.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.0.1
whatthepatch==1.0.6
widgetsnbextension==4.0.11
wrapt==1.17.0
wurlitzer==3.1.1
xgboost==2.1.2
yapf==0.40.2
yarl==1.18.0
zipp==3.20.0
